body {
    text-align: center;
    align-items: center;
    background-image: url("/Jeux-de-carte/images/octopus.png");
    background-size: cover auto;
    background-repeat: no-repeat;
}

button {
    border-radius: 10px 10px;
}